.libs
*.la
*.lo
*.d
*.o
*.a
*-opt
*-optimized
*-dbg
*-debug
*-oprof
*-oprofile
*-pro
*-prof
*-profiling
*-devel
*.e
*.nav
*.log
*.aux
*.toc
*.snm
*.csv
*.csv.*
*.dylib
*.so
*.so.*
*.vrb
*.jou
*.pyc
*.mod
*.e.*
*.e-s*
*.cfg
*.lbd.*
*.nem
*.spd
*.pex
*.pdf
*.plist*
*.bbl
*.blg
*.spl
*.idx
traceout*.txt
temp_print_trace.*
*.xda
*.xda.*
*.xdr
*.xdr.*
*.mps
*.msmp
*.msmp-*
*.muds
# Latex garbage
*.lot
*.lof
*.poly
*.mpx
*.btr
*.xml
*.xml.*
*.gmv
*.plt
*.slh
*.eps
*.dat
*.gp
*.plugin
*.outp
*.patch
*.txt
*.bib.bak
*.out
*.vtk
*.vtu
*.pvtu
*.zip
*.pt
*.net
.depend
*.png
*.svg
*.gif
*.tif
*.jpg
*.tiff
*.ps
*.bmp
*.mp4
*.webm
*.ico
*.html
*.xyz
*Revision.h
*.json
*.json.*
*.bak
!*.data
*.processor.*
.failed_tests
failed-unittest
build

# Allow certain files in gold directories
!**/gold/*.e
!**/gold/*.e-s*
!**/gold/*.csv
!**/gold/*.csv.*
!**/gold/*.vtk
!**/gold/*.vtu
!**/gold/*.pvtu
!**/gold/*.xml*
!**/gold/*.json*

# Mac garbage
.DS_Store
*.dSYM

# On linux, shared libs end in .0 sometimes
libpcre-opt*
libpcre-dbg*
libmoose-opt*
libmoose-dbg*

# Restartable Data
*.rd
*.rd-*

# Checkpoint Files
*.cpa
*.cpr
*.cpa-*
*.cpr-*

