[submodule "electro_chemo_mech2"]
	path = electro_chemo_mech2
	url = https://gitlab.com/srinathcs/electro_chemo_mech2.git
[submodule "feecm/electro_chemo_mech2"]
	path = feecm/electro_chemo_mech2
	url = https://gitlab.com/srinathcs/electro_chemo_mech2.git
