[submodule "deecm/LIGGGHTS-PUBLIC"] 
	path = deecm/LIGGGHTS-PUBLIC
	url = https://github.com/CFDEMproject/LIGGGHTS-PUBLIC.git
[submodule "feecm/moose/large_media"] 
  path = feecm/moose/large_media
  url = https://github.com/idaholab/large_media.git
[submodule "feecm/moose/libmesh"] 
  path = feecm/moose/libmesh
  url = https://github.com/libMesh/libmesh.git
[submodule "feecm/moose/petsc"]
    path = feecm/moose/petsc
    url = https://gitlab.com/petsc/petsc.git
[submodule "feecm/moose/modules/chemical_reactions/contrib/thermochimica"]
    path = feecm/moose/modules/chemical_reactions/contrib/thermochimica
    url = https://github.com/ORNL-CEES/thermochimica.git
    update = none
